<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Adonis</title>
</head>
<body>
    <h1>Login</h1>
    <form action='/login' method="POST">
        {{ csrfField() }}
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br />
        <br />

        <label for="senha">Senha:</label>
        <input type="text" id="senha" name="senha">        
        <br />
        <br />

        <button type="submit">
            <span>Salvar</span>
        </button>

        @if(old('notificacao'))
        <p style="color:red">
            {{old('notificacao')}}
        </p>
        @endif
    </form>
</body>
</html>