<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <h1>Cadastro de Produtos</h1> 
    <form action='/produtos/salvar' method="POST">
        {{ csrfField() }}

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br />
        <br />

        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco">
        <br />
        <br />

        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria">        
        <br />
        <br />

        <button type="submit">
            <span>Salvar</span>
        </button>
    </form>
</body>
</html>